/* 路由前进转场动画 */
.app-push-enter {
    opacity: 0;
    transform: translateX(100%);
}

.app-push-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
}

.app-push-exit {
    opacity: 1;
    transform: translateX(0);
}

.app-push-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms;
}

/* 路由后退转场动画 */
.app-pop-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.app-pop-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
}

.app-pop-exit {
    opacity: 1;
    transform: translateX(0);
}

.app-pop-exit-active {
    opacity: 0;
    transform: translate(100%);
    transition: all 500ms;
}

/* 页面基本样式 */
.page-primary {
    @apply w-full h-screen;
}

/* 按钮基本样式 */
.btn-primary {
    @apply font-medium text-center text-white transition-colors duration-200 transform bg-blue-600 rounded-sm lg:w-auto lg:mt-0 lg:ml-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500;
}
